<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/18c8d6a2-3462-47a5-b6c1-eecc43627c8e/resourceGroups/DAY5-RG/providers/Microsoft.Web/sites/contosoadminDAY5</ResourceId>
    <ResourceGroup>DAY5-RG</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://contosoadminday5.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4cd8ff66-4d8d-4bef-947f-447a371112f2</ProjectGuid>
    <PublishUrl>https://contosoadminday5.scm.azurewebsites.net/</PublishUrl>
    <UserName>$contosoadminDAY5</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>